@import "lib/bootstrap/assets/stylesheets/bootstrap/_variables.scss";
@import "lib/bootstrap/assets/stylesheets/bootstrap/_normalize.scss";
@import "lib/bootstrap/assets/stylesheets/bootstrap/_mixins.scss";
@import "lib/bootstrap/assets/stylesheets/bootstrap/_scaffolding.scss";
@import "lib/bootstrap/assets/stylesheets/bootstrap/_grid.scss";
@import "lib/bootstrap/assets/stylesheets/bootstrap/_responsive-utilities.scss";

// colors
$clr-brnd: #00b7bf;
$clr-accnt: #ffcc33;
$clr-gry-lght: #f9f9f9;
$clr-gry-medium: #666;
$clr-gry-drk: #25262e;

// screen sizes
$scrn-xl: 1399px;
$scrn-lg: 1024px;
$scrn-md: 991px;
$scrn-sm: 767px;
$scrn-xs: 568px;

// font
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

$font-regular: 'Source Sans Pro', sans-serif;

// font size
$fnt-sz-xxxl: 60px;
$fnt-sz-xxl: 4.5rem;
$fnt-sz-xl: 3.0rem;
$fnt-sz-l: 2.4rem;
$fnt-sz-m: 1.6rem;
$fnt-sz-s: 18px;
$fnt-sz-xs: 16px;
$fnt-sz-xxs: 14px;


html, body {
  font-family: $font-regular;
  font-size: $fnt-sz-xs;
}

p {
  line-height: 1.6em;
  font-size: $fnt-sz-xs;
}

.bnnr {
	// background: url(../images/banner.jpg) center no-repeat black;
  background: url(../images/banner-placeholder.jpg) center no-repeat black;
  background-size: cover;
	width: 100%;
  height: 800px;
  position: relative;

  @media screen and (max-width: $scrn-sm) {
    height: 568px;
  }

  .arrw {
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 16px;
  }
  .cntnt {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 300px;
      max-width: 60%;
      margin: 0 auto 40px;
      text-align: center;
      display: block;
      position: relative;
    }
    h1 {
      color: $clr-brnd;
      text-align: center;
      margin: 0;
      font-weight: normal;
      font-size: $fnt-sz-xxl;

      @media screen and (max-width: $scrn-sm) {
        font-size: $fnt-sz-l;
      }
    }
    p {
      color: white;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin: 0;

      @media screen and (max-width: $scrn-sm) {
        font-size: $fnt-sz-s;
      }
    }
  }
}

.vertical-align {
  display: flex;
  align-items: center;

  @media screen and (max-width: $scrn-md) {
    display: block;
    align-items: top;
  }
}

.row {
  margin-top: 50px;

  &.spc-tp {
    margin-top: 100px;
  }
}
.lght {
	margin-top: 70px;
  margin-bottom: 70px;
	background: $clr-gry-lght;
	padding: 100px 7%;

  @media screen and (max-width: $scrn-sm) {
    padding: 50px 5%;    
  }
}
.lght {
  h2 {
    margin: 0 0 40px;
    font-size: $fnt-sz-xl;
    line-height: 1.25em;
    font-weight: normal;
    max-width: 80%;

    @media screen and (max-width: $scrn-md) {
      font-size: $fnt-sz-l;
    }
    @media screen and (max-width: $scrn-sm) {
      font-size: $fnt-sz-m;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 2.0rem;
    line-height: 1.5em;
    font-weight: normal; 
    margin-bottom: 120px;
    color: $clr-gry-medium;

    @media screen and (max-width: $scrn-md) {
      font-size: $fnt-sz-m;
    }
    @media screen and (max-width: $scrn-sm) {
      font-size: $fnt-sz-s;
      margin-bottom: 40px;
    }
  }
  h4 {
    margin: 0 0 1.4rem 0;
    font-size: 1.9rem;
    line-height: 1.4em;
    font-weight: normal; 

    @media screen and (max-width: $scrn-sm) {
      font-size: $fnt-sz-m;
    }
  }
  .txt-lft {
    padding-right: 5rem;

    @media screen and (max-width: $scrn-md) {
      padding-right: 15px;
    }
  }
  .txt-rght {
    padding-left: 5rem;

    @media screen and (max-width: $scrn-md) {
      padding-left: 15px;
    }
  }
  .img-lft {
    margin-left: -35%;
    width: 130%;

    @media screen and (max-width: $scrn-md) {
      width: 100%;
      margin: 0 0 40px;
    }
  }
  .img-rght {
    margin-right: -35%;
    width: 130%;

    @media screen and (max-width: $scrn-md) {
      width: 100%;
      margin: 0 0 40px;
    }
  }
  .img-wrppr {
    position: relative;

    .icn {
      width: 140px;
      height: 140px;
      position: absolute;
      bottom: -30px;
      right: 0px;

      @media screen and (max-width: $scrn-md) {
        width: 130px;
        height: 130px;
        bottom: 0px;
      }
      @media screen and (max-width: $scrn-sm) {
        width: 90px;
        height: 90px;
        bottom: 20px;
      }
    }
    &.lft {
      .icn {
        right: auto;
        left: -30px;

        @media screen and (max-width: $scrn-md) {
          left: auto;
          right: 0;
        }
      }
    }
  }
}
.drk {
	background-color: $clr-gry-drk;
	padding: 80px 0;

	h2 {
		color: $clr-gry-lght;
		margin: 0 0 20px 0;
    font-weight: normal;
    font-size: 3.0rem;
    line-height: 1.25em;

    @media screen and (max-width: $scrn-md) {
      font-size: $fnt-sz-l;
      line-height: 1.3em;
    }
    @media screen and (max-width: $scrn-md) {
      font-size: $fnt-sz-m;
    }
	}
	p {
		margin: 0;
		color: $clr-gry-medium;
		font-size: 1.5rem;
	}
	a {
		color: $clr-brnd;
		font-size: 2.2rem;

    @media screen and (max-width: $scrn-md) {
      font-size: $fnt-sz-m;
    }
    @media screen and (max-width: $scrn-sm) {
      font-size: $fnt-sz-s; 
    }
	}
}
.demo-bttn {
	display: inline-block;
	margin: 20px 0 0;
	padding: 15px 30px;
	background-color: black;
	color: white;
	border-radius: 50px;
}	
.demo-bttn:hover, .demo-bttn:focus {
	text-decoration: none;
	color: $clr-accnt;
	cursor: pointer;
}

.shdw {
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);

  @media screen and (max-width: $scrn-sm) {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
}
.ppl {
  min-height: 220px;

  img {
  	display: block;
  	margin: 20px auto 12px;
  	max-width: 100px;
    border-radius: 50%;

    @media screen and (max-width: $scrn-sm) {
      margin: 40px auto 12px;

      &.first-child {
        margin-top: 0;
      }
    }
  }
}

// footer
footer {
  background: $clr-gry-drk;
  color: white;
  padding: 80px 0 100px;
  margin-top: 100px;

  @media screen and (max-width: $scrn-md) {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: $fnt-sz-s;
    text-transform: none;
    letter-spacing: 0em;
    margin: 10px 0 40px;

    @media screen and (max-width: $scrn-md) {
      margin: 0 0 30px;

      &:first-child {
        // margin: 0;
      }
    }
  }
  h3 {
    font-size: $fnt-sz-s;
    color: $clr-brnd;
    margin: 30px 0 10px;

    a,
    a:hover,
    a:active,
    a:focus {
      color: $clr-brnd;
    }

    &:first-child {
      margin-top: 0;
    }
    @media screen and (max-width: $scrn-md) {
      margin: 30px 0 10px;      
    }
  }
  p {
    margin: 0 0 10px;
    color: $clr-gry-lght;

    &.sm {
      font-size: $fnt-sz-xxs;
      line-height: 1.5em;
      font-weight: 300;
    }
    &.oneln {
      line-height: 0.4em;

      // No screen variable is used, because the line starts to wrap with screens smaller than 1199px. 
      // They now need a bigger line height, because it´s more than one line. 
      // With bigger screens the distance to h3 is not wanted.
      @media screen and (max-width: 1199px) {
        line-height: 2em;      
      }
    }
    &.icns {
      margin: 20px 0 50px;
    }
  }
  a,
  a:focus,
  a:hover {
    color: $clr-brnd;
    display: inline-block;
    margin-right: 18px;
  }
  a img {
    max-width: 25px;
    max-height: 20px;
  }
  img.sign {
    max-width: 80px;
    max-height: 80px;
  }
  @media screen and (max-width: $scrn-md) {
    .row > div {
      margin-bottom: 60px;
    }
  }
  @media screen and (max-width: $scrn-sm) {
    .cntnt {
      // display: none;
      // height: 0;
      // @include opacity(0);
    }

    div.actv {
      .cntnt {
        height: auto;
        @include opacity(1);
      }
    }
  }
  @media screen and (max-width: $scrn-xs) {
    padding: 50px 0;

    h2 {
      margin-top: 20px;
    }
  }  
}
// footer end







