.rv-treemap {
  padding-bottom: 5rem;
}

.rv-treemap__leaf__content {
  color: inherit;
  padding: 0;
  height: 100%;
}
.user-tree-map {
  color: inherit;
  cursor: pointer;
}
.user-tree-map-title {
  color: inherit;
}
.user-tree-map-count {
  color: inherit;
}

.channel-tree-map {
  color: inherit;
  cursor: pointer;
}
.channel-tree-map-title {
  color: inherit;
}
.channel-tree-map-count {
  color: inherit;
}