.channel-treemap-chart {
  .rv-treemap__leaf:nth-child(1n) {
    color: black !important;
    background-color: #f19442 !important;
  }
  .rv-treemap__leaf:nth-child(2n) {
    color: black !important;
    background-color: #4188d4 !important;
  }
  .rv-treemap__leaf:nth-child(3n) {
    color: black !important;
    background-color: #be67d9 !important;
  }
  .rv-treemap__leaf:nth-child(4n) {
    color: black !important;
    background-color: #f19442 !important;
  }
  .rv-treemap__leaf:nth-child(5n) {
    color: black !important;
    background-color: #68bfbc !important;
  }
  .rv-treemap__leaf:nth-child(6n) {
    color: black !important;
    background-color: #68bfbc !important;
  }
  .rv-treemap__leaf:nth-child(7n) {
    color: black !important;
    background-color: #68bfbc !important;
  }
  .rv-treemap__leaf:nth-child(7n) {
    color: black !important;
    background-color: #68bfbc !important;
  }
}

.user-treemap-chart {
  .rv-treemap__leaf:nth-child(1n) {
    color: black !important;
    background-color: #f19442 !important;
  }
  .rv-treemap__leaf:nth-child(2n) {
    color: black !important;
    background-color: #4188d4 !important;
  }
  .rv-treemap__leaf:nth-child(3n) {
    color: black !important;
    background-color: #be67d9 !important;
  }
  .rv-treemap__leaf:nth-child(4n) {
    color: black !important;
    background-color: #f19442 !important;
  }
  .rv-treemap__leaf:nth-child(5n) {
    color: black !important;
    background-color: #68bfbc !important;
  }
  .rv-treemap__leaf:nth-child(6n) {
    color: black !important;
    background-color: #68bfbc !important;
  }
  .rv-treemap__leaf:nth-child(7n) {
    color: black !important;
    background-color: #68bfbc !important;
  }
  .rv-treemap__leaf:nth-child(7n) {
    color: black !important;
    background-color: #68bfbc !important;
  }
}